doctype html
html
  head
    meta( charset='utf-8' )
    title HSL – The RGB You’ve Been Waiting For

  body( ng-app='hsl' ): slide-deck

    slide
      | HSL
      | ===
      | 
      | The RGB You've Been Waiting For
      | -------------------------------
    notes
      | This is a talk which I put together for the February 2016 PeninsulaJS
      | meetup. It should be digestable as a web page on its own and
      | interactive.

    slide
      | The Problem
      | ===========
    notes
      | - RGB + RGB = 🤔
      |   - Demo: Adding and subtracting RGB colors
      | - It's about adding *light* together
      |   - Demo: RGB values next to each other and the color they make (zoom
      |     in and out)
      | - Conclusion: RGB is not cool
      
    slide
      | Let's make our own color space
      | ==============================
    notes
      | - "Color space" = a system to specify a color and reason about sets of
      |   colors
      | - Analogy with Cartesian coordinates and reasoning about space
      |   - Demo: RGB as XYZ
      |   - XYZ is an ok coordinate system, but starts failing if all you care
      |     about is "How far are you from the origin?"
      | - Task: Design a system to quickly specify a color (intuitively)
      |   - How would you do that intuitively to the person sitting next to you?
      |   - Ask an attendee to describe an arbitrary color in the room
      
    slide
      | Hue
      | ---
      
    slide
      | Saturation
      | ----------
      
    slide
      | Lightness
      | ---------
      
    slide
      | Putting it all together
      | =======================
    notes
      | - Gamut
      | - Transform from RGB
      
    slide
      | Let's do some stuff with HSL
      | ============================
      
    slide
      | Lighten a color
      | ---------------
    notes
      | - This is the original problem at the beginning
    
    slide
      | Grayscale a photo
      | -----------------

    slide
      | Make a color palette
      | --------------------
      
    slide
      | HSL is everywhere already
      | =========================
    notes
      | - Chrome dev tools
      | - Color pickers
      |   - OS X
      |   - Sketch
      |   - Google slides
      | - colorhexa.com
      
    slide
      | Problems
      | ========
    notes
      | - LABCIE
      
    script( src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0/angular.min.js' )
    script( src='https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.5/marked.min.js' )
    script.
      angular
        .module('hsl', [])
        .component('slide-deck', {
          controller: class {
            constructor() {
              console.log('omg')
            }
          }
        })
        .component('slide', {
          require: '^slide-deck',
          controller($element) {
            var html = marked($element.text())
            $element.html(html)
          }
        })
        .component('notes', {
          controller($element) {
            var html = marked($element.text())
            $element.html(html)
          }
        })
