@import url(https://fonts.googleapis.com/css?family=Catamaran);

body, input {
  font: xx-large 'Catamaran', sans-serif;
}

body {
  padding: 0;
  margin: 0;
}

slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  box-sizing: border-box;
  padding: 1rem 10rem;
}

notes {
  display: block;
  max-width: 50rem;
  margin: 0 auto;
}

input.d {
  width: 3rem;
  text-align: center;
}

.swatch {
  display: inline-block;
  width: 3rem;
  height: 3rem;
  vertical-align: middle;
}
