@import url(https://fonts.googleapis.com/css?family=Catamaran:400,600);

body, input {
  font: x-large 'Catamaran', sans-serif;
}

body {
  padding: 0;
  margin: 0;
}

a {
  color: hsl(200, 100%, 50%);
}

.text-muted {
  font-size: large;
  opacity: .5;
}

slide, notes {
  display: block;
  box-sizing: border-box;
  max-width: 50rem;
  margin: 0 auto;
  padding: 0 1rem;
}

slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  max-width: 50rem;
  margin: 0 auto;
}

slide.xs-center {
  align-items: center;
}
slide.xs-center > * {
  text-align: center;
}

input.c {
  width: 3rem;
  text-align: center;
  border: none;
  border-bottom: solid 5px black;
}

.swatch {
  display: inline-block;
  width: 3rem;
  height: 3rem;
  vertical-align: middle;
  border-radius: 1000px;
}

.op {
  padding-left: 3rem;
}
