@import url(https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css);
@import url(https://cdn.jsdelivr.net/flexboxgrid/6.3.0/flexboxgrid.min.css);
@import url(https://fonts.googleapis.com/css?family=Catamaran:400,600|Crimson+Text:400,400italic);

body, input {
  font: xx-large 'Catamaran', sans-serif;
  color: hsl(0, 0%, 30%);
}

a {
  color: hsl(200, 100%, 50%);
}

.text-muted {
  font-size: large;
  opacity: .5;
}

img {
  width: 100%;
}

slide, notes {
  display: block;
  box-sizing: border-box;
  max-width: 50rem;
  margin: 0 auto;
  padding: 0 1rem;
}

slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  max-width: 50rem;
  margin: 0 auto;
  line-height: 2em;
}

slide.xs-center {
  align-items: center;
}
slide.xs-center > * {
  text-align: center;
}

slide.orly {
  justify-content: flex-start;
}
slide.orly hr {
  border: none;
  border-top: 10px solid hsl(250, 100%, 60%);
  margin: 0;
}
slide.orly img {
  transform: translate(0, 12%);
}
slide.orly h1 {
  font-family: Crimson Text;
  font-weight: normal;
  font-size: 600%;
  text-align: center;
  background-color: hsl(250, 100%, 60%);
  color: white;
  padding: .25em;
  margin: 0;
}
slide.orly h2 {
  font-family: Crimson Text;
  font-weight: normal;
  font-style: italic;
  text-align: right;
  margin: 0;
}

notes {
  font-size: 75%;
  line-height: 1.5em;
}

rgb-space {
  display: block;
}

label {
  white-space: nowrap;
}

input.c {
  width: 2.5em;
  text-align: right;
  border: none;
  border-bottom: solid 5px black;
}
.swatch + input.c {
  margin-left: .5rem;
}

.swatch {
  display: inline-block;
  width: 2em;
  height: 2em;
  vertical-align: middle;
  border-radius: 1000px;
}
.swatch.sm {
  width: 1rem;
  height: 1rem;
  border: 2px dotted hsla(0, 0%, 0%, .3);
}

.scale {
  display: flex;
  justify-content: space-between;
}
.scale .swatch.active {
  opacity: .5;
}

.op {
  padding-left: 3rem;
}
